html{
    scroll-behavior: smooth;

}
body{
    background-color: rgb(204, 216, 175);
}
aside{
    float: left;
    width: 20%;

}
.navbar{
    text-decoration: none;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.carousel {
    position: static
}
.wave{
    width: 100%;
    align-items: flex-start;
}
#ubicacion{
        width: 100%;
    }

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}