#sec1, #sec2, #sec3, #sec4, #sec5, #sec6 {
    height: auto;
    width: 100%;
}
html{
    scroll-behavior: smooth;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 10pt;
}
body{
    background-color: #E4DBA4;
    margin: 0px;
    padding: 0%;
}
h1{
    color: rgb(244, 138, 32);
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #E4DBA4;
    text-decoration-color: #E4DBA4;
}
.navbar{
    color: #E4DBA4;
    width: 100%;
    scroll-margin-top: 100px;
    position: fixed;
    z-index: 90;
    background-color: black;
    height: 60px;
    float: center;
    left: 50%;
    transform: translatex(-50%);
    text-decoration: none;
    opacity: .92;
}
.btn-wsp{
  position:fixed;
  width: 70px; 
  border-radius: 50px; 
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  z-index: 100; 
  margin-left: 1350px
}
.navbar a:hover{
        color:white;
        text-shadow: #E4DBA4;
    }
   
.texto{
    border-left-color: rgb(244, 138, 32);
    border-left-style: solid;
    border-left-width: 15px; 
    margin-left: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    width: 70%; 
    height: 70%; 
    padding-right: 0px; 
    padding-left: 250px;
}
.texto p{
    text-align: justify;
 
}
h5{
    padding-bottom: 25px;
        font-size: 10.5pt;
}
.nav_links {
    display: inline-block;
    padding: 9px;
    align-content: space-around;
    width: auto;
    text-align: center;
}

.carousel {
    position: none;
}
.wave {
    width: 100%;
    margin-top: 100px;
}
.toast{
    display:none;
    opacity:0;
}
.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px ;
}
.contenedor figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 20px
    rgba(0 ,0 ,0 ,0.5 );
    cursor: pointer;
}
.contenedor img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out ;
}
.contenedor figure .capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(157, 165, 167, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;

}
.contenedor figure:hover>.capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover> img{
    transform:scale(1.3);
}
.capa h3{
    color: white;
    font-size: x-large;
    margin-top: 30px;
}

#ubicacion{
        width: 100%;
        filter: brightness(0.5);
    }
#sec6 {
    background-image:url('plato2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding:15%
}
.sec2div {
    text-align: center;
    padding: 4em;
    align-items: center;
}
.sec3div {
    position: absolute;
    padding: 2em;
    padding-left: 4em;
    background-color: #E4DBA4;
}
.sec4div {
    padding-top: 10em;
    position: absolute;
    align-items: center;
}
.form{
    width: 600px;
    background-color: rgb(79, 76, 76);
    padding:35px;
    margin-right: 90px;
    margin-bottom: 30px;
    border-radius: 20px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form h5 {
    padding-bottom: 30px;
}
.controls{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #E4DBA4;
}
.comentario{
    padding:30px;
}
form .button{
    width: 100%;
    border-radius:20px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 40px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    width: 100%;
    margin-bottom: 0px;
    
}